* {
    box-sizing: border-box;
}

body {
    background: rgb(240, 235, 248);
}

header {
    padding: 1rem;
}

header .card {
    border-top: 10px solid rgb(103, 58, 183);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    outline: 0;
}

input:focus-visible {
    border: 0;
    border-bottom: 1px solid rgb(103, 58, 183);
}

.container {
    max-width: 768px;
    width: 100%;
    margin: auto;
}

.card {
    background: #FFFFFF;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.alert {
    color: red;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button[type="submit"] {
    width: fit-content;
    background: rgb(103, 58, 183);
    color: white;
    padding: 1rem;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

button[type="reset"] {
    width: fit-content;
    color: rgb(103, 58, 183);
    padding: 1rem;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}


#form-result .card-body{
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table * {
    border: 1px solid black;
}